@import './base.css';

/* common */
a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
    padding: 3px;
}

.card {
    border: 1px;
    border-style: solid;
    border-color: var(--color-teal);
    padding: 10px;
    border-radius: 5px;
}

.font-success {
    color: var(--color-teal);
}
.font-error {
    color: var(--color-pink);
}
.font-info {
    color: var(--color-indigo);
}
.font-warning {
    color: var(--color-orange);
}

.item-success {
    color: var(--color-teal);
    border-color: var(--color-teal);
}
.item-error {
    color: var(--color-pink);
    border-color: var(--color-pink);
}
.item-info {
    color: var(--color-indigo);
    border-color: var(--color-indigo);
}
.item-warning {
    color: var(--color-yellow);
    border-color: var(--color-yellow);
}

.input-text {
    display: block;
    border: 1px solid var(--color-text);
    color: var(--color-text);
    padding: 0.4rem 0.7rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px;
}
.input-text:focus {
    outline: none;
}
label {
    font-weight: bold;
}

.btn {
    border: 1px solid var(--color-text);
    color: var(--color-text);
    padding: 0.4rem 0.7rem;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
    background-color: var(--color-light-gray);
    border-radius: 5px;
}
.btn:hover {
    background-color: var(--color-gray);
    color: var(--color-white);
}

.btn-red {
    border: 1px solid var(--color-red);
    color: var(--color-red);
}
.btn-red:hover {
    background-color: var(--color-pink);
    color: var(--color-white);
}

.btn-green {
    border: 1px solid var(--color-green);
    color: var(--color-green);
}
.btn-green:hover {
    background-color: var(--color-teal);
    color: var(--color-white);
}

.btn-orange {
    border: 1px solid var(--color-orange);
    color: var(--color-orange);
}
.btn-orange:hover {
    background-color: var(--color-yellow);
    color: var(--color-white);
}

.btn-purple {
    border: 1px solid var(--color-purple);
    color: var(--color-purple);
}
.btn-purple:hover {
    background-color: var(--color-indigo);
    color: var(--color-white);
}

.form-item {
    margin-bottom: 1rem;
}

.alert-success {
    color: var(--color-white);
    background-color: var(--color-teal);
    border-color: var(--color-green);
}
.alert-error {
    color: var(--color-white);
    background-color: var(--color-pink);
    border-color: var(--color-red);
}
.alert-info {
    color: var(--color-white);
    background-color: var(--color-indigo);
    border-color: var(--color-purple);
}
.alert-warning {
    color: var(--color-white);
    background-color: var(--color-yellow);
    border-color: var(--color-orange);
}

#app {
    /* max-width: 1280px; */
    /* margin: 0 auto; */
    font-weight: normal;
}

/* header */
header {
    line-height: 1.5;
    padding: 10px;
    background-color: var(--color-white);
}
header h1 {
    text-align: center;
}
header h3 {
    text-align: center;
}

header .logo {
    display: block;
    margin: 0 auto 2rem;
    width: 100px;
}

header nav {
    width: 100%;
    /* font-size: 12px; */
    text-align: center;
    margin-top: 2rem;
}

header nav a.router-link-exact-active {
    color: var(--color-text);
}

header nav a.router-link-exact-active:hover {
    background-color: transparent;
}

header nav a {
    display: inline-block;
    padding: 0 1rem;
    border-left: 1px solid var(--color-border);
}

header nav a:first-of-type {
    border: 0;
}

/* main */
main {
    background-color: var(--color-light-gray);
    padding: 10px;
    font-size: 18px;
}

main h3 {
    font-size: 1.5rem;
}

/* dictionary */
.dictionary .card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dictionary .lesson-item .card {
    margin: 10px;
    cursor: pointer;
}

.center-wrapper {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
}

.center-wrapper .center-container {
    width: 90%;
}
.center-wrapper .input-text {
    width: 100%;
}
.center-wrapper button.btn {
    display: block;
    width: 100%;
}

/* course-list */
.course-list .card-wrapper {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.course-list .card-wrapper .card {
    margin: 10px;
}

.course-list .card-wrapper .card a.btn {
    display: block;
    text-align: center;
}

/* stats */
.stats-row {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.stats-row .stats-item {
    margin: 10px 20px;
}



@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

@media (min-width: 1024px) {
    /* body {
    display: flex;
    place-items: center;
  } */

    #app {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    header {
        height: 100vh;
    }

    header .wrapper {
        /* display: flex;
        place-items: flex-start;
        flex-wrap: wrap; */
    }

    header nav {
        text-align: left;
        /* margin-left: -1rem; */
        font-size: 1rem;

        padding: 1rem 0;
        margin-top: 1rem;
    }

    header nav a {
        display: block;
        border: none;
    }

    .center-wrapper .center-container {
        width: 50%;
    }

    /* vocabulary */
    .vocabulary-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .vocabulary-wrapper .vocabulary-container {
        width: 30%;
    }
}

@media (min-width: 1280px) {
    #app {
        grid-template-columns: 1fr 4fr;
    }
}
