@import "./base.css";

/* common */
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.card {
  border: 1px;
  border-style: solid;
  border-color: var(--color-teal);
  padding: 10px;
}

.font-success {
  color: var(--color-teal);
}
.font-error {
  color: var(--color-pink);
}
.font-info {
  color: var(--color-indigo);
}
.font-warning {
  color: var(--color-orange);
}

.item-success {
  color: var(--color-teal);
  border-color: var(--color-teal);
}
.item-error {
  color: var(--color-pink);
  border-color: var(--color-pink);
}
.item-info {
  color: var(--color-indigo);
  border-color: var(--color-indigo);
}
.item-warning {
  color: var(--color-yellow);
  border-color: var(--color-yellow);
}

.alert-success {
  color: var(--color-white);
  background-color: var(--color-teal);
  border-color: var(--color-green);
}
.alert-error {
  color: var(--color-white);
  background-color: var(--color-pink);
  border-color: var(--color-red);
}
.alert-info {
  color: var(--color-white);
  background-color: var(--color-indigo);
  border-color: var(--color-purple);
}
.alert-warning {
  color: var(--color-white);
  background-color: var(--color-yellow);
  border-color: var(--color-orange);
}



#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  font-weight: normal;
}

/* header */
header {
  line-height: 1.5;
  max-height: 100vh;
  padding: 10px;
}

header .logo {
  display: block;
  margin: 0 auto 2rem;
}

header nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

header nav a.router-link-exact-active {
  color: var(--color-text);
}

header nav a.router-link-exact-active:hover {
  background-color: transparent;
}

header nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

header nav a:first-of-type {
  border: 0;
}

/* main */
main {
  padding: 10px;
}

/* dictionary */
.dictionary {
  font-size: 18px;
}
.dictionary .card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dictionary h3 {
  text-align: center;
  font-size: 20px;
}

.dictionary .lesson-item .card {
  margin: 10px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  } */

  #app {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0 2rem;
  }

  header {
    /* display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2); */
  }

  header .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  header nav {
    text-align: left;
    margin-left: -1rem;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}

@media (min-width: 1280px) {
  #app {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 0 2rem;
  }
}
